@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

$myFont: 'Source Code Pro', monospace;
$darkBgColor: #404a6e;
$darkTextColor: rgb(255, 255, 255);
$titleBgColor: #6E6E96;
$lightTextColor: rgba(255, 255, 255, 0.8);
$lightestTextColor: rgba(255, 255, 255, 0.4);